html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Colors */
  --primary-Green-500: hsl(171, 66%, 44%);
  --primary-Blue-100: hsl(233, 100%, 69%);
  --Gray-700: hsl(210, 10%, 33%);
  --Gray-500: hsl(201, 11%, 66%);

  /* Font size scale */
  --fs-sm: clamp(0.8rem, 1vw, 1rem);
  /* 14px - 16px */
  --fs-base: clamp(1rem, 1.2vw, 1.125rem);
  /* 16px - 18px */
  --fs-md: clamp(1.25rem, 2vw, 1.5rem);
  /* 20px - 24px */
  --fs-lg: clamp(1.5rem, 3vw, 2rem);
  /* 24px - 36px */
  --fs-xl: clamp(2rem, 4vw, 3rem);
  /* 32px - 48px */

  /* Spacing scale (margin/padding/gap) */
  --space-xs: clamp(0.5rem, 0.8vw, 0.75rem);
  --space-sm: clamp(1rem, 1.2vw, 1.25rem);
  --space-md: clamp(1.5rem, 2vw, 2rem);
  --space-lg: clamp(2rem, 3vw, 3rem);

  /* Widht Container */
  --max-container: 1200px;
  --max-container-wide: 1440px;
}

html,
body {
  font-size: 18px;
  font-family: 'Bai Jamjuree', Arial;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url('./images/bg-header-mobile.png') no-repeat top center;
  background-size: contain;
}


.logo-container {
  display: flex;
  justify-content: center;
}

.img-logo-company {
  width: 5rem;
  margin: 4rem 0 3rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 2rem;
  text-align: center;
}

.title.header {
  font-size: var(--fs-lg);
  font-weight: 600;
}

.btn-download-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.btn-for-ios,
.btn-for-mac {
  padding: 0.7rem;
  border: none;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

.btn-for-ios {
  background-color: var(--primary-Green-500);
  box-shadow: 1px 4px 10px hsla(171, 66%, 44%, 0.808);
}

.btn-for-mac {
  background-color: var(--primary-Blue-100);
  margin-bottom: 5rem;
  box-shadow: 1px 4px 10px hsla(233, 100%, 69%, 0.808);
}


.btn-for-mac:active,
.btn-for-ios:active {
  opacity: 0.5;
}




/* Main Section */

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  gap: 3rem;
}


.content .title{
  font-size: var(--fs-md);
  font-weight: 600;
  max-width: 12rem;
  margin: 0 auto 1.5rem;
}

.description.content,
.description.supercharger,
.description.device-support,
.description.header {
  color: var(--Gray-500);
  font-size: var(--fs-sm);
  margin-bottom: 2rem;
}

.img-computer-container img{
  margin-bottom: 3rem;
}

.img-computer-container img,
.img-devices-container img {
  max-width: 18.75rem;
} 

.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.features .title {
  font-size: var(--fs-base);
  color: var(--Gray-700);
  font-weight: 600;
}

.info-features {
  margin-bottom: 2rem;
  color: var(--Gray-500);
  font-size: var(--fs-sm);
}

.icons {
  max-width: 2rem;
  align-self: center;
}

.trusted-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
  margin: 3rem 0;
}

.trusted-company img {
  max-width: 7rem;
}

.content.device-support {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.description.device-support {
  margin-bottom: 2rem;
}


/* Footer */

.footer {
  background-color: hsla(202, 11%, 66%, 0.402);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
}

.img-logo-footer {
  max-width: 2.5rem;
}

.footer-navigation ul a{
  text-decoration: none;
  color: var(--Gray-500);
  font-size: var(--fs-sm);
  margin: 0.5rem;
  transition: all 0.3s ease;
}

.footer-navigation ul a:hover {
  color: var(--primary-Green-500);
}

.sosialmedia-links {
  width: clamp(6.25rem, 6rem + 4vw, 12.5rem);
  display: flex;
  justify-content: space-around;
  transition: all 0.3s ease;
}

.sosialmedia-links svg:hover {
  fill: aquamarine;
}



@media (min-width: 577px) and (max-width: 1024px) {
  body {
  background: url('./images/bg-header-desktop.png') no-repeat top center;
  background-size: contain;
  }

  .img-logo-company {
    width: clamp(6rem, 10vw, 7rem);
  }

  .title.header {
  font-size: var(--fs-xl);
  }

  .description.content,
  .description.supercharger,
  .description.device-support,
  .description.header {
    font-size: var(--fs-sm);
    max-width: 34rem;
    margin: 0 auto 3rem;
  }

  .description.header {
    font-size: var(--fs-base);
  }

  .content .title {
    font-size: var(--fs-lg);
    max-width: 100%;
  }

  .img-computer-container img,
  .img-devices-container img {
    max-width: 100%;
  } 

  .title.features {
  font-size: var(--fs-md);
  }

  .info-features {
    max-width: 20rem;
    margin: 0 auto 2rem;
  }

  .btn-download-container {
    display: block;
  }

  .btn-for-ios, 
  .btn-for-mac {
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
  }

  .btn-for-ios {
    margin-right: 0.5rem;
  }

  /* footer */

  .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  max-height: 100px;
  }

  .footer-navigation ul {
    display: flex;
    flex-wrap: wrap;
    width: clamp(15.625rem, 20vw, 21.875rem);
    height: 100px;
  }
}

@media (min-width: 1025px) {
  body {
  background: url('./images/bg-header-desktop.png') no-repeat top center;
  background-size: contain;
  }


  .img-logo-company {
    margin-top: 7rem;
    width: clamp(7rem, 10vw, 8rem);
  }
  
  .description.content,
  .description.supercharger,
  .description.device-support,
  .description.header {
    font-size: var(--fs-base);
    max-width: 50%;
    margin: 0 auto 3rem;
  }

  .description.header {
    font-size: var(--fs-base);
    max-width: 45%;
  }

  .title.header {
    font-style: var(--fs-xl);
  }

  .content .title {
    font-size: var(--fs-md);
    max-width: 100%;
  }

  .img-computer-container img,
  .img-devices-container img {
    max-width: 100%;
  } 

  .btn-download-container {
    display: block;
  }

  .btn-for-ios, 
  .btn-for-mac {
    padding: 0.8rem 2rem;
    border-radius: 2rem;
  }

  .btn-for-ios {
    margin-right: 0.5rem;
  }

  .content {
    grid-area: title;
  }

  /* Features Keep track */
  .features-keep-track {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'title title'
    'img-comp features';
    gap: 2rem;
  }

  .container-features {
    grid-area: features;
    text-align: start;
    padding: 3rem;
  }

  .img-computer-container {
    grid-area: img-comp;
  }

  .title.features {
  font-size: var(--fs-md);
  }

  .info-features {
    max-width: 18rem;
    margin-bottom: 2rem;
  }

  /* Supercharger Features */

  .features-supercharger .container-features {
    display: flex;
    text-align: center;
  }

  .trusted-company {
    flex-direction: row;
    justify-content: center;
  }

  .trusted-company img {
    max-width: 100%;
  }

  /* Footer */ 

  .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  max-height: 100px;
  max-width: 100%;
  }

  .footer-navigation ul {
    display: flex;
    flex-wrap: wrap;
    width: clamp(15.625rem, 20vw, 21.875rem);
    height: 100px;
  }
}