body {
    font-family: Roboto, Arial;
    background-color: rgb(212, 245, 255);
}

.container {
    display: flex;
    justify-content: center;
    margin: 100px;
}


.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 16px;
    border-radius: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.barcode {
    display: block;
    width: 250px;
    border-radius: 10px;
}


.title {
    font-size: 20px;
    width: 250px;
    font-weight: 600;
}

.massage {
    font-size: 14px;
    width: 250px;
    color: rgb(184, 184, 184);
}