
        * {
            margin: 0;
            padding: 0;
        }

        img {
            width: 100%;
        }

        body {
            font-family: "Inter", Arial, Helvetica, sans-serif;
            font-size: 15px;
            margin: 100px auto;
            width: 1440px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
            grid-template-areas: 
            'nav nav nav nav'
            'header header header sidebar'
            'header header header sidebar'
            'content content content content';
            gap: 20px;
        }


        /* Navigasi */
        .navbar {
            grid-area: nav;
            display: grid; 
            grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
        }
        
        .logo {
            width: 70px;
        }

        .menu {
            list-style: none;
            font-size: 18px;
        }
        
        .navbar ul {
            list-style: none;
            display: grid; 
            grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
            color: hsl(236, 13%, 42%);
            transition: color 0.3s ease;
        }


        .navbar a {
            display: block;
            color: hsl(236, 13%, 42%);
            text-decoration: none;
        }

        .navbar li a:hover {
            color: hsl(5, 85%, 63%);
        }



        /* Header */

        .header {
            grid-area: header;
            width: 70em;
        }

        .img-utama {
            width: 70em;
        }

        .content-header {
            display: grid;
            grid-template-columns: repeat(auto-fit, 200px, 1fr);
            grid-template-areas: 
            'title-content description';
            gap: 70px;
            margin-top: 60px;
        }

        .content-header h1 {
            font-size: 5em;
            line-height: 1em;
            width: 480px;
        }

        .content-header p {
            font-size: 1.3em;
            line-height: 30px;
            color: hsl(236, 13%, 42%);
            margin-bottom: 60px;
        }

        .content-header button {
            background-color: black;
            color: white;
            font-weight: bold;
            border: none;
            padding: 16px 38px;
            letter-spacing: 3px;
            transition: color 0.3s ease;
        }

        .content-header button:hover {
            background-color: hsl(5, 85%, 63%);
            color: black;
        }



/* sidebar */
        .sidebar {
            grid-area: sidebar;
            padding: 35px;
            display: grid;
            background-color: hsl(240, 100%, 5%);
            color: white;
            width: 280px;
            cursor: pointer;
        }

        .news h3 {
            color: hsl(35, 77%, 62%);
            font-size: 3em;
            transition: color 0.3s ease;
            margin-bottom: 32px;
        }

        .news h4 {
            font-size: 1.3em;
            margin-bottom: 10px;
        }

        .news p {
            font-size: 1em;
            line-height: 30px;
            color: hsl(233, 8%, 79%);

        }

        .news h4:hover {
            color: hsl(35, 77%, 62%);
        }




        /* Section Buttom */

        .section-buttom {
            grid-area: content;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            gap: 14em;
            margin-top: 50px;
            }

        .content {
            display: flex;
            width: 350px;
        }


        .img-content-1,
        .img-content-2,
        .img-content-3 {
            width: 100px;
            margin-right: 20px;
        }

        .info-content h3 {
            font-size: 3em;
            letter-spacing: 1px;
            color: hsl(5, 85%, 63%);
            padding: 5px;
        }

        .info-content h4 {
            margin-bottom: 8px;
            cursor: pointer;
            font-size: 1.2em;
        }

        .info-content h4:hover {
            color: hsl(5, 85%, 63%);
        }

        .info-content p {
            font-size: 1em;
            color: hsl(236, 13%, 42%);
        }




        @media (max-width: 375px) {
            body {
                margin: 0 auto; /* Pusatkan body */
                width: 100%; /* Pastikan body menggunakan lebar penuh */
                padding: 20px; /* Tambahkan padding agar tidak terlalu menempel */
            }
        
            .grid-container {
                display: grid;
                grid-template-columns: 1fr; /* Hanya satu kolom */
                grid-template-rows: auto; /* Sesuaikan tinggi elemen */
                grid-template-areas:
                    'nav'
                    'header'
                    'sidebar'
                    'content'; /* Elemen-elemen akan ditumpuk secara vertikal */
                gap: 20px; /* Jarak antar elemen */
            }
            
            /* navbar */
            .logo {
                width: 90px;
            }

            .navbar .menu {
                display: none; /* Sembunyikan menu */
            }

            /* header */
            .header {
                width: 50%; /* Pastikan header menggunakan lebar penuh */
            }
        
            .img-utama {
                width: 40em;
                height: 40em;
                object-fit: cover;
            }

            .content-header h1 {
                font-size: 5em;
                line-height: 1em;
                width: 500px;
                margin-bottom: 20px;
            }

            .content-header {
                display: grid;
                grid-template-columns: 1fr; 
                grid-template-areas: 
                    'title-content'
                    'description'; /* Tata letak tetap sama, tetapi vertikal */
                gap: 20px; /* Kurangi jarak antar elemen */
                margin-top: 30px; /* Sesuaikan margin atas */
            }

            .content-header p {
                font-size: 2.5em;
                line-height: 1.4em;
                width: 100%;
            }

            .content-header button {
                font-size: 1.2em;
                padding: 1.6em 4em;
            }
            
            /* sidebar */
            .sidebar {
                width: 80%;
                height: 40em;
                padding: 20px; /* Sesuaikan padding */
            }
        
            .news h3 {
                font-size: 3.5em;
                margin-bottom: 50px;
            }
    
            .news h4 {
                font-size: 2em;
                margin-bottom: 10px;
            }
    
            .news p {
                font-size: 1.6em;
            }

            /* section-buttom */
            .section-buttom {
                display: grid;
                grid-template-columns: 1fr; /* Satu kolom untuk section */
                gap: 20px; /* Jarak antar elemen */
                margin-top: 20px; /* Sesuaikan margin atas */
            }
        
            .content {
                display: flex;
                margin-bottom: 20px;
                width: 100%; /* Gunakan lebar penuh */
            }
        
            .img-content-1, 
            .img-content-2, 
            .img-content-3 {
                width: 150px; /* Sesuaikan ukuran gambar */
                margin-right: 30px; 
                margin-bottom: 10px; /* Tambahkan margin bawah */
            }

            .info-content h3 {
                font-size: 3em;
                letter-spacing: 1px;
                color: hsl(5, 85%, 63%);
                padding: 5px;
            }
    
            .info-content h4 {
                cursor: pointer;
                font-size: 1.8em;
            }
    
            .info-content h4:hover {
                color: hsl(5, 85%, 63%);
            }
    
            .info-content p {
                font-size: 1.4em;
                color: hsl(236, 13%, 42%);
            }
        }
        