        /* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.4rem 7%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;
        }

        .navbar .logo {
            width: 12rem;
            margin-right: auto;
            padding-left: 1.6rem;
            box-sizing: border-box;
            cursor: pointer;
        }

        .navbar .nav-links a {
            color: white;
            display: inline-block;
            margin: 0 1rem;
        }

        .navbar .nav-links a:hover {
            color: hsla(51, 100%, 49%, 0.87);
        }


        .navbar .nav-links #contact {
            padding: 10px 22px;
            background-color: #fff;
            color: black;
            border: none;
            font-weight: 600;
            font-size: 16px;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            text-transform: uppercase;
        }

        .navbar .nav-links #contact:hover {
            background-color: hsla(0, 0%, 100%, 0.395);
            color: white;
        }

        nav .nav-icons a {
            color: #fff;
            margin: 0 0.5rem;
        }

        nav .nav-icons a:hover {
            color: hsla(51, 100%, 49%, 0.87);
        }

        .hamburger-menu {
            display: none;
        }

        /* Header section */
        .header {
            min-height: 100vh;
            display: flex;
            align-items: center;
            background-image: url('images/desktop/image-header.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }

        .header .header-title {
            display: flex;
            place-items: center;
            flex-direction: column;
            width: 100%;
        }

        .header .header-title h1 {
            font-size: 4rem;
            letter-spacing: 10px;
            color: white;
            font-family: Fraunces;
            padding-bottom: 100px;
            text-transform: uppercase;
            /* background-color: #fff; */
        }

        .header .header-title img {
            padding-bottom: 4.5rem;
        }

        /* Main section */
        .main-content {
            display: flex;
        }
        .main-content .content {
            padding: 10rem;
            box-sizing: border-box;
            max-width: 50%;
        }
        .main-content .content h3 {
            font-size: 2.6rem;
            width: 400px;
            padding-bottom: 2rem;
            line-height: 2.4rem;
        }
        .main-content .content p {
            color: var(--p);
            font-weight: 400;
            padding-bottom: 2rem;
        }
        .main-content .content h4 {
            font-size: 1rem;
            font-weight: 900;
            text-transform: uppercase;
            width: fit-content;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.381), rgba(255, 255, 0, 0.418));
        }





        /* Media Queary */
        /* Laptop */
        @media( max-width: 1366px ){
            html {
                font-size: 75%;
            }
        }

        /* Tablet */
        @media( max-width: 768px ){
            html {
                font-size: 62.5%;
            }

            .hamburger-menu {
                display: inline-block;
            }

            .navbar .nav-links{
                position: absolute;
                top: 100%;
                right: -100%;
                background-color: #ffffff69;
                width: 25rem;
                height: 100vh;
                transition: 0.3s;
            }

            .navbar .nav-links.active {
                right: 0;
            }

            .navbar .nav-links a{
                color: hsl(213, 9%, 39%);
                display: block;
                margin: 1.5rem;
                padding: 8px;
                font-size: 1.8rem;
            }

            .navbar .nav-links a #contact:hover {
                background-color: hsla(51, 100%, 49%, 0.87);
                color: black;
            }
        }